{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section id="destaque">
    <div class="my-4 pt-4">
      <h1 class="text-center display-4">Em Destaque</h1>
      <div class="row ml-auto mr-auto">
        <div class="col-lg-6 text-center">
          <a href="reviews/lacienaga.html">
            <figure class="figure pt-3">
              <img
                src="{% static 'img/lacienaga.jpg' %}"
                class="figure-img img-fluid rounded"
                alt="Pôster do filme La Ciénaga"
              />
              <figcaption class="figure-caption text-left">
                La Ciénaga (2001) - dir.: Lucrecia Martel
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-lg-6 text-center">
          <a href="./reviews/red.html">
            <figure class="figure pt-3">
              <img
                src="{% static 'img/red.jpg' %}"
                class="figure-img img-fluid rounded"
                alt="Pôster do filme A Fraternidade é Vermelha"
              />
              <figcaption class="figure-caption text-left">
                A Fraternidade é Vermelha (1994) - dir.: Krzysztof Kieślowski
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="reviews-anteriores">
    <h2 class="text-center display-4">Análises anteriores</h2>
    <div class="row ml-auto mr-auto mb-3">
      

      {% for movie in previous_reviews %}

      <div class="col-lg-4 col-md-6 pt-3">
        <div class="card" id="card-2" data-like=20 data-dislike=5>
          <img src="{% static ''|add:movie.poster_dir %}" alt="" >
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{movie.original_title}}</h5>
              <p class="card-text text-justify">
                {{movie.synopsis}} <br>
              </p>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div class="like-dislike d-inline-flex">
              <div class="like px-1">
                <button id="like2" class = "btn btn-secondary" ><span class="far fa-thumbs-up"> <b>(20)</b> </span></button>
              </div>
              <div class="dislike px-1">
                <button id="dislike2" class = "btn btn-secondary"> <span class="far fa-thumbs-down"> <b>(5)</b> </span></button>
              </div>
            </div>
            <a href="/reviews/{{movie.id}}">
              <button class="btn btn-outline-dark">Leia a análise</button>
            </a>
          </div>
        </div>
      </div>

      {% endfor %}
      <!--div class="col-lg-4 col-md-6 pt-3">
        <div class="card" id="card-3" data-like=25 data-dislike=9>
          <img src="{% static 'img/therewill.jpg' %}" alt="" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Sangue Negro</h5>
              <p class="card-text text-justify">
                Falido, o minerador de prata Daniel Plainview decide começar
                vida nova e buscar a fortuna com o filho em local rico em
                petróleo, mas seus interesses entram em conflito com os do
                pastor Eli Sunday, a figura mais influente da cidade.
              </p>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div class="like-dislike d-inline-flex">
              <div class="like px-1">
                <button id="like3" class = "btn btn-secondary" ><span class="far fa-thumbs-up"> <b>(25)</b> </span></button>
              </div>
              <div class="dislike px-1">
                <button id="dislike3" class = "btn btn-secondary"> <span class="far fa-thumbs-down"> <b>(9)</b> </span></button>
              </div>
            </div>
            <a href="./reviews/therewillbeblood.html">
              <button class="btn btn-outline-dark">Leia a análise</button>
            </a>
          </div>
        </div>
      </div-->
    </div>
  </section>

{% endblock content %}