{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/newsletter-jumbotron.html' %}

  <section id="destaque">
    <div class="my-4 pt-4">
      <h1 class="text-center display-4">Em Destaque</h1>
      <div class="row ml-auto mr-auto">
        {% for highlight in highlights %}
          <div class="col-lg-6 text-center">
            <a href="reviews/{{highlight.id}}">
              <figure class="figure pt-3">
                <img
                  src="{% static ''|add:highlight.poster_dir %}"
                  class="figure-img img-fluid rounded"
                  alt="Pôster do filme {{movie.original_title}}"
                  style="width: 1600; height: 900;"
                />
                <figcaption class="figure-caption text-left">
                  {{highlight.original_title}} ({{highlight.release_year}}) - dir.: {{highlight.director_name}}
                </figcaption>
              </figure>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="reviews-anteriores">
    <h2 class="text-center display-4">Análises anteriores</h2>
    <div class="row ml-auto mr-auto mb-3">
      

      {% for movie in previous_reviews %}

      <div class="col-lg-4 col-md-6 pt-3">
        <div class="card h-100" id="card-{{movie.id}}" data-like=20 data-dislike=5>
          <img src="{% static ''|add:movie.poster_dir %}" alt="" >
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{movie.original_title}} ({{movie.release_year}})</h5>
              <p class="card-text text-justify overflow-auto">
                {{movie.synopsis}} <br>
              </p>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div class="like-dislike d-inline-flex">
              <div class="like px-1">
                <button id="l-{{movie.id}}" class = "btn btn-secondary like" ><span class="far fa-thumbs-up"> <b>(20)</b> </span></button>
              </div>
              <div class="dislike px-1">
                <button id="d-{{movie.id}}" class = "btn btn-secondary dislike"> <span class="far fa-thumbs-down"> <b>(5)</b> </span></button>
              </div>
            </div>
            <a href="/reviews/{{movie.id}}">
              <button class="btn btn-outline-dark">Leia a análise</button>
            </a>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </section>

{% endblock content %}