{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

<section id="review">
  <div class="container">
    <div id="review-header" class = "pt-4 mt-4" style="margin-top: 100px">
      <h2 class="display-4 text-center">
        {{ review.title }}
      </h2>
    </div>

    <div class="movie-info pt-4 float-lg-right">
      <ul class="list-group d-block mx-4">
        <li class="list-group-item font-weight-bold">Ficha Técnica</li>
        <li class="list-group-item">Nome original: {{movie.original_title}}</li>
        <li class="list-group-item">Diretor(a): {{movie.director_name}}</li>
        <li class="list-group-item">Gênero: {{movie.genre}}</li>
        <li class="list-group-item">País: {{movie.country}}</li>
        <li class="list-group-item">Ano de Lançamento: {{movie.release_year}}</li>
        <li class="list-group-item">
            <div class="progress text-center" style="height: 100%; width: 100%;">
              {% if movie.avg_imdb >= 8 %}
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: {% x10 movie.avg_imdb %}%;"
                  aria-valuenow="{% x10 movie.avg_imdb %}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                <span class="text-light text-display-4 font-weight-bold">IMDB: {{movie.avg_imdb}}</span>

              {% elif movie.avg_imdb >= 5 and movie.avg_imdb < 8 %}
                <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: {% x10 movie.avg_imdb %}%;"
                aria-valuenow="{% x10 movie.avg_imdb %}"
                aria-valuemin="0"
                aria-valuemax="100"
                >
                <span class="text-dark text-display-4 font-weight-bold">IMDB: {{movie.avg_imdb}}</span>

              {% else %}
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  style="width: {% x10 movie.avg_imdb %}%;"
                  aria-valuenow="{% x10 movie.avg_imdb %}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                <span class="text-light text-display-4 font-weight-bold">IMDB: {{movie.avg_imdb}}</span>
              {% endif %}

                </div>
              </div>
        
        </li>
      </ul>
      <br />
    </div>


    <div id = "review-body" class = "pt-4 mt-2">
      <h6 class="font-italic">
        Texto retirado de:
        <a href="{{review.original_source}}">{{review.original_source}}</a>
        <br>
      </h6>
      
      <p class="justify">{{review.text|linebreaks}}</p>

    </div>

    <div id="review-nota">
      <h4 class="font-weight-bold display-4">
        {% if review.avaliation >= 8 %}
        Avaliação: <span class="badge badge-success">{{review.avaliation}}</span>
        {% elif review.avaliation >= 5 and review.avaliation < 8 %}
        Avaliação: <span class="badge badge-warning text-dark px-2">{{review.avaliation}}</span>
        {% else %}
        Avaliação: <span class="badge badge-danger">{{review.avaliation}}</span>
        {% endif %}

      </h4>
      <br /><br />
    </div>
  </div>
</section>
{% endblock content %}