{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="sobre">
  <div
    class="container"
    style="display: flex; align-items: center; height: 90vh"
  >
    <div class="row mt-3">
      <div class="col-md-4 text-center">
        <img
          src="{% static '/img/profile.jpg' %}"
          alt="Foto de Perfil"
          class="rounded-circle"
          width="200"
        />
        <br /><br />
      </div>

      <div class="col-md-8 text-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo
          eros ex, eget imperdiet enim maximus in. Sed ultricies purus a
          sagittis efficitur. Vivamus auctor accumsan risus, sit amet ultrices
          lorem porttitor id. Integer sed aliquet tellus. Praesent pellentesque
          fringilla ante nec ultrices. Suspendisse rhoncus eget est nec
          efficitur. Duis ut sodales tortor, at dapibus turpis. Pellentesque est
          purus, semper nec molestie non, rutrum eu mauris. Phasellus varius
          consequat tempus. Curabitur id condimentum dolor. Nam et interdum
          dolor. Morbi facilisis tempor augue, id sollicitudin turpis imperdiet
          vitae. Donec sed interdum augue. Nulla scelerisque ipsum justo. Nulla
          facilisi. Vestibulum nunc felis, faucibus facilisis interdum in,
          suscipit nec leo.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}