{% extends 'base.html' %}
{% block conteudo %}

    <h1>Cadastro de Produto</h1>

    <div id="form">
        
    </div>
    
   <br>

    <div id="tabela">
        
    </div>

    <br><br><br>

    
{% endblock %}


{% block domready %}
    $.get("/cadastra_produto", function(resposta) { $("#form").html(resposta)})
    $.get("/lista_produtos", function(resposta) {$("#tabela").html(resposta)})
    
    
    $(document).on('submit', '#form-cadastro',function(e) {
        e.preventDefault()
        cadastraProduto()
    }) 
    
    $(document).on('click', '.remover', function(e){
        removeProduto(getRowID(this))
    })
    
    $(document).on('blur', '.input_qtd', function(e){
        e.stopPropagation()
        atualizaQuantidade(getRowID(this))
    })

   
    function getRowID(element) {
        var parent = $(element).parent()
        return parseInt(parent.siblings('td').first().text())
    }

    function cadastraProduto(){
        
        $.ajax({
            type: "POST",
            url: "{% url 'registra_produto' %}",
            data: {
                categoria: $('#id_categoria').val(),
                nome: $('#id_nome').val(),
                qtd: $('#id_qtd').val(),
                preco: $('#id_preco').val(),
                csrfmiddlewaretoken: $('#form-cadastro input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success: function(json) {
                $.get("/cadastra_produto", function(resposta) { $("#form").html(resposta)})
                $.get("/lista_produtos", function(resposta) {$("#tabela").html(resposta)})
            },
        })
    }

    function removeProduto(id) {
        
        $.ajax({
            type: "POST",
            data: {
                csrfmiddlewaretoken: $('#form-cadastro input[name=csrfmiddlewaretoken]').val()
            },
            url: "/remove_produto/" + id,
            success: function(json) {
                $.get("/lista_produtos", function(resposta) {$("#tabela").html(resposta)})
            },
        })
    }

    function atualizaQuantidade(id) {
        
        $.ajax({
            type: "POST",
            url: "/atualiza_produto/" + id,
            data: {
                qtd: $(`#qtd_${id}`).val(),
                csrfmiddlewaretoken: $('#form-cadastro input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success: function(json) {
                $.get("/cadastra_produto", function(resposta) { $("#form").html(resposta)})
                $.get("/lista_produtos", function(resposta) {$("#tabela").html(resposta)})
            },
        })
    }

{% endblock %}
